
    <!--<template name="tccAuthentication">
        {{> test}}
    </template>

    <template name="test">
        <div class="control-group">
            <div class="controls">
                <a class="btn btn-danger delete" href="#">Delete post</a>
            </div>
        </div>
    </template>-->

    <template name="tccAuthentication">
        <form class="main">
            <div class="control-group">
                <label class="control-label" for="login_id">{{tcc_token}}</label>
                <div class="controls">
                    <input name="url" type="text" value="" placeholder="TCC login"/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </div>
        </form>


    </template>
